

.containerWrap {
    display: flex !important;
    justify-content: center !important;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px #0000000f;
    border-radius: 30px;
    position: absolute;
    padding: 25px 30px;
    box-shadow: inset 2px 2px 20px 0px #00000061;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: #0000002b;
    color: #f1f1f1;
}