# This file is a template for the '.env' file that should be created in the root of the project

GOOGLE_CLIENT_ID= # Google OAuth Client ID (https://console.cloud.google.com/apis/credentials)
GOOGLE_CLIENT_SECRET= # Google OAuth Client Secret (https://console.cloud.google.com/apis/credentials)

NEXTAUTH_URL= # NextAuth URL: http://localhost:3000
NEXTAUTH_SECRET= # NextAuth Secret ('openssl rand -base64 32' or https://generate-secret.vercel.app/32)

NEXT_PUBLIC_BACKEND_API_URL= # Backend API URL: http://localhost:8080/pdt-servidor-1.0-SNAPSHOT/api